---
layout: home
---

{% for col in site.collections %}<!-- Find collections -->
	{% if col.label == "tips" %} <!-- Filters collections by label -->
		{% for doc in col.docs %} <!-- Loops through docs in a collection -->

		<!-- Select the first element of cateories properties -->
		{% capture cat %}{{ doc.categories | first | slugify }}{% endcapture %}

		{% if cat == "windows" %}
			<div class="list_item">
					<a href="{{ doc.url }}">
						<!-- <span class="label {{ doc.categories | first | slugify: 'ascii' }}">{{ doc.categories | first }}</span> -->
						<h2 class="post_title">
							<!-- Display post title -->
							{{ doc.title }}
						</h2>
						<!-- <div class="post_desc">
			        Display post first paragraph.
			        {{ post.excerpt }}
			      </div> -->
					</a>

		  </div>
		{% endif %}

		{% endfor %}
	{% endif %}
{% endfor %}
