<!-- Style -->
<link rel="stylesheet" type="text/css" href="/assets/css/article-style.min.css" />
<link rel="stylesheet" href="/assets/css/general-style.min.css" />
<link rel="stylesheet" href="/assets/css/highlight.min.css">
<link rel="stylesheet" href="/assets/css/table-layouts.min.css">
<link rel="stylesheet" href="/assets/css/youtube.min.css">
        
<!-- Scripts -->
<script defer src="/assets/scripts/general-script.min.js"></script>
<script defer src="/assets/scripts/post-script.min.js"></script>
<!-- Defering the script bellow is causing an error - Solved this by creating a wrapper self-initializing function -->
<script defer src="/assets/scripts/youtube.min.js"></script>
