<!-- Style -->
<link rel="stylesheet" type="text/css" href="../assets/css/article-style.min.css" />
<link rel="stylesheet" href="../assets/css/general-style.min.css" />
<link rel="stylesheet" href="../assets/css/highlight.min.css">
        
<!-- Scripts -->
<script async src="https://kit.fontawesome.com/c72d3abc48.js"></script>
<script defer src="../assets/scripts/general-script.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?autoload=true&amp;skin=sons-of-obsidian"></script>
<script defer src="https://cse.google.com/cse.js?cx=005494965239538254001:q1icdplk1fy"></script>