<div id="cookies">
    <div class="wrapper-cookies-closer">
        <i class="close closeIcon" id="closeCookies"></i>
    </div>
    <p>Usamos serviços da Google que utilizam cookies para garantir seu funcionamento. Ao utilizar este site, você aceita o uso de cookies. Visite <a href="https://policies.google.com/technologies/partner-sites" target="_blank" rel="norefer noopener nofollow">Como o Google usa informações de Sites ou Apps que utilizam nossos serviços</a> para mais informações.</p>
</div>