	<!-- page footer -->
    <footer id="pg-footer">
        <div class="align-content">
            <div class="colunm">
                <div>
                    <a href="../../index.html" id="logo-footer"  role="img" aria-label="Logomarca do Site: um mouse e um monitor exibindo a sigla T.I, que ocupa quase toda a área disponível.">
                    </a>
                </div>
            </div>
            <div class="colunm"> Copyright &copy; | <span itemprop="copyrightHolder">Tecnologia e Informação</span> </div>
            <div class="colunm">
                <div class="gcse-search"></div>
            </div>
        </div>
    </footer>
    <!-- end page footer -->