<!-- page header -->
<header id="pg-head">
    <div id="back-menu">
        <div class="align-content">
            <div id="toggle-search-box">
                <i class="fas fa-search"></i>
            </div>
            <div class="h-iten">
                <div class="gcse-search"></div>
            </div>
            <div class="h-iten">
                <h1>{{ site.title }}</h1>
            </div>
            <nav id="menu" class="h-iten">
                <div class="link"><a href="/index.html" target="_self">Home</a></div><!--
                -->{% if site.aboutPage %}<div class="link"><a href="/about/about.html" target="_self">Sobre</a></div>{% endif %}<!--
                --><div class="link"><a href="#">Programação</a>
                    <div id="sub-menu">
                        <div class="fill-link"></div>
                        <div class="sub-links"><a href="/java/java-history.html" target="_self">Java</a></div>
                    </div>
                </div>
            </nav>
            <div id="toggle-menu-button">
                <div class="bar1"></div>
                <div class="bar2"></div>
                    <div class="bar3"></div>
            </div>
        </div>
    </div>
    <div id="logo">
        <a href="/index.html" target="_self" title="página Inicial"></a>
    </div>
</header>
<!-- end page header -->