
<section id="post_container">
<!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
  <div class="list_item">
    <a href="{{ post.url }}">
      <h2 class="post_title">
        <!-- Display post title -->
        {{ post.title }}
      </h2>
      <div class="post_desc">
        <!-- Display post first paragraph.-->
        {{ post.excerpt }}
      </div>
    </a> 
  </div>
  {% endfor %}
</section>

<!-- Pagination Buttons -->
<div id="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      < Anterior
    </a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">
      Próximo >
    </a>
  {% endif %}
</div>