<!-- Variables: webp, png, jpg, alt, caption, align -->
{% if include.align == "center" %}
<figure class="{{ include.align }}">

{% else %}
<figure class="{{ include.align }}">
  <div>
{% endif %}
  <picture class="image lazy">
    {% if include.jpg %}
    <source srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-srcset="{% if page.images %}{{page.images}}{% endif %}{{ include.png }}" type="image/jpeg" />
    {% endif %}

    {% if include.png %}
    <source srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-srcset="{% if page.images %}{{page.images}}{% endif %}{{ include.png }}" type="image/png" />
    {% endif %}

    {% if include.webp %}
    <source srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-srcset="{% if page.images %}{{page.images}}{% endif %}{{ include.webp }}" type="image/webp"/>
    {% endif %}
        
    <img src="{% if page.images %}{{page.images}}{% endif %}{% if include.png %} {{ include.png }} {% else %} {{ include.jpg }} {% endif %}" alt="{% if include.alt %} {{ include.alt }}{% endif %}" class="image" />
  </picture>

  {% unless include.align == "center" %}
  </div>
  {% endunless %}

  {% if include.caption %}
  <figcaption>{{ include.caption }}</figcaption>
  {% endif %}
</figure>