@charset "UTF-8";

:root {
  font-size: 20px;
  --font-heading: "Microsoft YaHei", "Lucida Sans Unicode", helvetica, sans-serif;
  --font-rest: "Source Sans Pro","Lucida Sans Unicode", helvetica, sans-serif;
  --color-1: #333;
  --shadow: rgba(100, 100, 100, .3);  
  --font-size-rest: .7rem;
}

#pg-body{
  max-width: 1200px;
  height: auto;
  margin: auto;
  overflow: auto;
  /* Place it in the same level as the pg-header and pg-footer */
  z-index: 1;
}

.a-conteiner {
  float: left;
  width: 62.6666666%;
}

.a-itself {
  box-shadow: 0 0 10px var(--shadow);
  background-color: #fff;
  height: auto;
  padding: 10px 25px;
  margin: 10px 5px;
}

.a-itself .a-head {
  text-align: right;
}

#a-body{
   font: 0.7rem var(--font-rest);
}

.a-head h1,
#a-body h2,
#a-body h3,
#a-sources h2 {
  font-weight: bold;
  font-family: var(--font-heading);
  color: var(--color-1)
}

.a-head h1 {
  font-size: 1rem;
}

#a-body h2,
#a-sources h2{
  font-size: .96rem;
}

#a-body h3 {
  font-size: .92rem;
}

#a-body h4 {
  font-size: .88rem;
}

.a-itself .a-pub-upd {
  display: inline-block;
  font: 0.6rem "Source Sans Pro", var(--font-rest);
}

.a-itself .a-pub-upd:not(:first-of-type)::before {
  content: '|';
  margin-right: 7px;
  color: #000;
}

#a-body {
  width: 100%;
  word-wrap: break-word;
  color: var(--color-1);
  hyphens: auto;
}

#a-body p {
  margin: 10px 0;
  font: var(--font-size-rest)/1.5 var(--font-rest);
}

#a-body sup {
  font-size: var(--font-size-rest);
}

#a-body .no-indent-text {
  text-indent: initial;
  clear: both
}

#a-body a {
  color: #000
}

#a-body hr{
    border: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #666, #aaa 40%);
    opacity: 1
}

/* Code snippet */
.snippets-container{
  margin: 0; 
}

#a-body pre code {
  white-space: pre;
  font-size: var(--font-size-rest);
  padding: 10px;
  display: block;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  scrollbar-color: #000;
  scrollbar-width: 3px;
}

#a-body code::-webkit-scrollbar {
  cursor: pointer;
  height: 10px;
}

#a-body code::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: .5px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),
                inset -2px -2px 2px rgba(0,0,0,.25);
}
/* Code in the midle of a text */

#a-body p code{
  display: inline !important;
  background-clip: content-box;
  background: #eee;
  padding: 1px;
  outline: none;
  border: 1px solid #bbb;
}
/* end inline code */

#a-body ul {
  list-style-type: square;
  list-style-position: inside;
}

#a-body ul ul li {
  position: inherit;
  font-size: inherit;
  margin: 0px 0px 0px 15px;
}

#a-body ul li {
  font-size: inherit;
}

#a-body ul li::marker{
  display: inline-block;
}

#a-body ul li p{
  display: inline-block;
  margin: 0;
}

#a-body dl dt {
  display: run-in;
  text-decoration: underline;
  font: bold var(--font-size-rest) var(--font-rest);
}

#a-body dl dd {
  margin: 0 20px;
  font: var(--font-size-rest) var(--font-rest);
}

#a-body .article-video {
  padding-bottom: 56.25%;
  overflow: hidden;
  width: 100%;
  height: auto
}

#a-body .article-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
  border: none
}

#a-body .left,
#a-body .right {
  width: 30%;
  padding: 2px;
  box-sizing: border-box;
  position: relative;
  z-index: 1
}

#a-body div > picture{
  position: absolute;
  width: 100%;
  height: 100%;
}

#a-body .left div,
#a-body .right div{
  width: 100%;
  padding-bottom: 90%;
}

#a-body .left {
  float: left;
}

#a-body .right {
  float: right;
}

#a-body .center {
  width: 65%;
  height: auto;
  margin: 10px auto
}

#a-body .image{
  display: block;
  padding: 5px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#a-body .left .image,
#a-body .right .image{
  position: absolute;
  top: 0px;
  left: 0px;
}

#a-body figcaption {
  text-align: center;
  font: italic var(--font-size-rest) monospace;
  color: #666;
  padding: 0 3px
}

#a-body .extra-box-01 {
  clear: both;
  background-color: #0bf;
  padding: 10px;
  margin: 5px 0;
  border-left: 8px solid #04b
}

#a-body .extra-box-02 {
  clear: both;
  background-color: #dee916;
  padding: 10px;
  margin: 5px 0;
  border-left: 8px solid #bcaf00
}

.a-conteiner #a-sources {
  box-shadow: 0 0 10px var(--shadow);
  background-color: #fff;
  height: auto;
  padding: 10px 25px;
  margin: 10px 5px
}

.a-conteiner #a-sources a {
  text-decoration: none;
  font: bold 13px arial, helvetica, sans-serif;
  color: #000;
  display: block;
  margin: 1em 0;
  word-break: break-all
}

/*
* .a-conteiner #a-sources a::after {
*  content: attr(href);
*  display: block;
*  font-weight: 400;
*  text-decoration: underline
* 
* }
*/

/*
.ads {
  float: left;
  padding: 20px;
  width: 33.83333333%;
  height: auto;
  box-shadow: 0 0 10px rgba(100, 100, 100, .3);
  background-color: #fff;
  margin: 10px 0 0 5px;
  --black: #000
}

.ads-simulation {
  height: 250px;
  width: auto;
  background-color: var(--black)
}


.ads::after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  background-color: var(--black);
  position: absolute;
  bottom: 0;
  left: 0
}
*/
.aside-content {
  float: left;
  width: 33.83333333%;
  box-shadow: 0 0 10px var(--shadow);
  background-color: #fff;
  margin: 10px 5px;
  padding: 20px;
  color: #fff;
}

.aside-content a{
  display: block;
  padding: 5px 2px 10px 10px;
  border-bottom: 2px solid #00000030;
  text-decoration: none;
  font: 0.7rem var(--font-rest);
  color: #000;
}

.aside-content a:hover{
  -webkit-transition: all ease-in-out .5s;
  -o-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
  background-color: #00000011;
}

#list-toggler{
  display: none;
}

@media only screen and (max-width: 980px) {
  #pg-container {
    display: block !important;
  }

  .a-conteiner {
    width: 100%;
    margin: 0
  }

  .ads, .aside-content {
    margin: 0;
    box-shadow: none
  }

  #aside-list{
    position: fixed;
    left: -100%;
    top: 210px;
    float: left;
    width: 250px;
    box-shadow: 0 0 10px var(--shadow);
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    border: none;
    transition: all 0.5s;
    z-index: 2;
  }

  #aside-list.show{
    left: 0;
  }

  #list-toggler{
    display: block;
    position: fixed;
    top: 170px;
    left: 0;
    background-color: white;
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .6);
    z-index: 2;
  }

  .ads::after {
    content: normal
  }
}

@media only screen and (max-width: 700px) {
  #a-body .float-left, 
  #a-body .float-right {
    width: 40%
  }

  .a-itself {
    padding: 5px
  }

  #a-body .extra-box-01 {
    border-left: none;
    border-top: 8px solid #04b
  }

  #a-body .extra-box-02 {
    border-left: none;
    border-top: 8px solid #bcaf00
  }

  .ads {
    width: 100%
  }

  .ads-simulation {
    height: 90px
  }

  .aside-content {
    width: 100%
  }
}

@media only screen and (max-width: 500px) {
  #a-body .left,
  #a-body .right,
  #a-body .center {
    float: none;
    width: 100%;
    height: auto;
    margin: 10px auto
  }

  #a-body .article-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    padding: 0;
    border: none
  }
}