{% if include.align == "center" %}
<figure class="center">
{% endif %}
{% if include.align == "left" %}
<figure class="left">
{% endif %}
{% if include.align = "right" %}
<figure class="right">
{% endif %}
	<picture class="image">
    {% if include.png %}
    <source srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" base-srcset="{{ include.png }}" class="image" type="image/png" />
    {% endif %}

    {% if include.jpg %}  
    <source srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" base-srcset="{{ include.jpg }}" class="image" type="image/jpg" />
    {% endif %}

    {% if include.webp %}
    <source srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" base-srcset="{{ include.webp }}" class="image" type="image/webp" />
    {% endif %}
        
    <img src="include.baseimg" alt="{% if include.basealt %} {{ include.basealt }}{% endif %}" class="image" />
  </picture>
</figure>