@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Acme";

#about-me {
  max-width: 599px;
  margin: 10px auto;
  border: 1px solid #000;
  border-radius: 20px 20px 0 0;
  background-color: #fff
}

#about-me h1 {
  font: bold 20pt Acme, sans-serif;
  text-align: center;
  padding: 8px
}

#about-me-text-box {
  padding: 30px 9px 9px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent #000 #000
}

#about-me-text-box::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 35px;
  width: 109%;
  background-color: #000
}

#about-me-text-box p {
  margin: 10px 0;
  font: 13pt "Lucida Sans Unicode", sans-serif;
  color: #000;
  text-indent: 35px;
  text-align: justify;
  line-height: 1.5;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto
}

@media screen and (max-width: 797px) {
  #about-me-text-box::before {
    width: 103%
  }
}
