/* CONTACT FORM */
::placeholder {
  font-family: var(--font-rest);
}

.contact_form {
  margin: 0 20px;
}

.contact_form--field {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border: none;
  font-family: var(--font-rest);
  font-size: 0.788rem;
}

.field--inputs {
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  margin: 10px 0;
}

.field--massage {
  height: 100px;
  border-radius: 5px;
}

.contact_form--submit {
  padding: 5px;
  margin: 20px 0;
  background: #6180D5;
  border: none;
  color: white;
}

.page_content {
  margin: auto;
  max-width: 1200px;
  font-family: var(--font-rest);
  padding: 0 6px;
}

.page_content--common_page_title{
  font-family: var(--font-heading);
  font-size: 1.5rem;
  margin: 20px 0;
  line-height: 1.5;
}

.page_content h2 {
  font-family: var(--font-heading);
  font-size: 1.2rem;
  margin: 20px 0;
}

.page_content ul,
.page_content ol {
  list-style-position: inside;
  margin-left: 20px;
}

.page_content p {
  margin: 20px 0;
}
