<!DOCTYPE html>
<html lang="pt-br" dir="ltr" itemscope itemtype="http://schema.org/WebPage">

<head>
  {% include global_metadata.html %}

  {% include styles-and-scripts.html %}
</head>

<body>
  <div id="pg-container">
    {% include global_header.html %}
    <div>
      <div class="restrict-content-width">
        {{ content }}
      </div>
    </div>

    {% include global_footer.html %}
    <button id="go-to-top-button" title="Voltar ao Topo">
      <i class="fas fa-chevron-up"></i>
    </button>
  </div>
  {% include cookies.html %}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>